.hns-main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 8%;
  text-align: center;
}

.hns-title {
  font-size: xx-large;
}

.hns-paragraph-container {
  text-align: center;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 20px !important;
}


.hns-btns-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
  color: var(--secondary-text-color) !important;
 
}

.hns-btns-divider hr {
  min-width: 10%;
  border: none;
  border-top: 1px solid var(--secondary-text-color) !important;
}

.hns-login-button,
.hns-register-button {
  width: 60% !important;
  border-radius: var(--medium-border-radius) !important;
  font-size: 18px !important;
}

.hns-button {
  width: 50%;
  border: none;
  border-radius: var(--button-border-radius);
  background-color: var(--main-button-bg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 60px;
  color: var(--main-text-color);
  transition: 0.5s ease-in-out;
}

.hns-button:hover {
  background-color: var(--secondary-button-bg);
  cursor: pointer;
  background-color: var(--secondary-button-bg);
}

.hns-contact-container {
  font-size: small;
}

.hns-contact-container a {
  text-decoration: underline !important;
  color: var(--secondary-text-color) !important;
}