.hs-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.hs-main-content h2 {
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.hs-main-content h3 {
  font-weight: 600;
  color: var(--secondary-text-color);
}

.hs-main-content h4 {
  font-weight: 600;
  letter-spacing: 1px;
}

.manage-my-tasks-home-button {
  outline: none;
  border: none;
  border-radius: var(--medium-border-radius);
  background-color: var(--main-button-bg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 40px;
  color: var(--main-text-color);
  transition: 0.5s ease-in-out;
  letter-spacing: 1px;
}

.manage-my-tasks-home-button:hover {
  background-color: var(--secondary-button-bg);
  cursor: pointer;
  background-color: var(--secondary-button-bg);
  font-size: medium;
}

.hs-log-out-text {
  font-size: small;
}

.hs-log-out-text a {
  text-decoration: underline !important;
  color: var(--secondary-text-color);
}