:root {
  --small-border-radius: 8px;
  --medium-border-radius: 12px;
  --large-border-radius: 32px;
  --extra-large-border-radius: 100px;
  --button-border-radius: 35px;

  --background-start-rgb: hsl(300, 7%, 3%);
  --background-end-rgb: hsl(198, 100%, 8%);
  --main-text-color: hsl(0, 0%, 96%);
  --secondary-text-color: hsl(120, 4%, 91%);

  --main-button-bg: hsl(219, 100%, 47%);
  --secondary-button-bg: hsl(198, 100%, 5%);

  --accent-color-one: hsl(213, 100%, 50%);
  --accent-color-two: hsl(196, 100%, 47%);
  --warm-color: hsl(44, 98%, 62%);
  --danger-color: hsl(356, 74%, 52%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-start-rgb);
}

p {
  color: var(--main-text-color);
}